* {
  margin: 0px;
  padding: 0px;
}

.ulList {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  font-size: 20px;
  padding: 20px 0px;
  width: 100%;
  margin-top: 0px;
  color: white;
  background-color: rgb(56, 65, 82);
}
.ulList li a {
  text-decoration: none;
  color: white;
}
