.add-book{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}

.addBookForm{
    display: flex;
    flex-direction: column;
    
    gap: 12px;
}

.addBookForm input{
    padding: 5px;
}
/* 
.addBookForm input[type="file"]
{
 height: 20px;
} */
.addBookForm button{
    padding: 5px;
}

