.add-book {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 30px 0px;
}

.addBookForm {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 30px 60px;
  border-radius: 10px;
  gap: 12px;
  background-color: rgb(252, 233, 244);
}

.addBookForm input,
.addBookForm select,
.addBookForm input[type="file"] {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid gray;
}
.addBookForm input {
  width: 300px;
}
.addBookForm input[type="file"]{
    background-color: white;
}


.addBookForm button {
  padding: 7px;
  background-color: #4680ff;
  border-radius: 4px;
  border: none;
  font-size: 18px;
  font: medium;
  color: white;
}


@media (max-width: 500px) {
  .addBookForm input,
  .addBookForm select,
  .addBookForm input[type="file"] {
    padding: 10px 5px;
  }

  .addBookForm input {
    width: 200px;
  }
  .addBookForm input[type="file"] {
    background-color: white;
  }
}
